<!doctype html>
<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
		<title>Výběr týdne<%= ' ' + current_article.date.strftime('%-d. %-m. %Y') unless current_article.nil? %><%if paginate %><% if page_number != 1 %> - <%= page_number %>. stránka<% end %><% end %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Výběr týdne" %>
		<%= stylesheet_link_tag 'vyber' %>
		<%= partial "favicons" %>
  </head>
  <body>
	
	<h1><% link_to '/' do %>Výběr týdne<% end %></h1>
    
	<%= '<div class="vyber">' unless current_article.nil? %>
		<%= '<h2><a href="">' + current_article.date.strftime('%-d. %-m. %Y') + '</a></h2>' unless current_article.nil? %>
      <%= yield %>
			<% if current_article != nil %>
			</div>

		<div class="strankovani">
		<ul class="nav">

  <% next_article = current_article.article_next %>
  <% if next_article %>
    <li><a href="<%= next_article.url %>" rel="next" title="Novější výběr <%= next_article.date.strftime('%-d. %-m. %Y') %>">&laquo; Novější</a></li>
	<% end %>

  <% prev_article = current_article.article_previous %>
  <% if prev_article %>
    <li><a href="<%= prev_article.url %>" rel="prev" title="Starší výběr <%= prev_article.date.strftime('%-d. %-m. %Y') %>">Starší &raquo;</a></li>
  <% end %>

		</ul>
		</div>
		<% end %>
		<div class="vyber">
			<form method="get" action="/s/">
			<p>
			Vyhledávání: <input type="text" name="q" /> <input type="submit" value=" Najít " />
			</p>
			</form>
		</div>    
<div class="paticka"><% link_to '/feed.xml', {:class => 'rss'} do %>RSS<% end %> <% link_to 'https://github.com/petrkle/vyber-tydne', {:class => 'github'} do %>vyber-tydne<% end %></div>
  </body>
</html>
